@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  text-decoration: none;
  list-style: none;
}

:root {
  --main-color: black;
  --secondary-color: crimson;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: var(--secondary-color);
  border-radius: 10px;
}

html::-webkit-scrollbar{
  width: 10px;
}


.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
#logo img {
  width: 190px;
  margin-top: 3px;
}

.nav-item .nav-link {
  color: black;
  font-weight: 600;
  transition: 0.5s;
}

.nav-item .nav-link:hover {
  color: var(--secondary-color);
}

#navbar input:focus {
  border: 1px solid var(--secondary-color);
  box-shadow: none;
}

.home {
  display: flex;
  padding: 0 5%;
}
.home .img {
  flex: 1 1 250px;
}

.home .img img {
  width: 100%;
}

.home .home-content {
  flex: 1 1 500px;
}

.home .home-content h3 {
  font-size: 40px;
  font-weight: 700;
}

.top-section {
  padding: 10px 11% 100px;
}

.top-section .row .card img {
  width: 200px;
  margin: auto;
}

.menu .card img {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.menu {
  padding: 0 5%;
}

.line-container {
  padding: 0 5%;
}

.line {
  background-color: var(--secondary-color);
  height: 2px;
  width: 100%;
}

.order {
  padding: 0 5%;
}

.order form > textarea {
  resize: none;
}

.order .row .col-md-5 .card {
  border: none;
}
.order .row .col-md-5 .card img {
  width: 70%;
  margin: auto;
}

.review {
  padding: 0 5%;
}
.review .card {
  border: none;
}
.review .card img {
  width: 85%;
  margin: auto;
}

#review div.rating-img img {
  width: 130px;
}

.contact {
  padding: 0 5%;
}

.contact .row .row-left {
  background-color: #ff281b;
}

.contact .row textarea {
  resize: none;
}
.line-footer {
  background-color: grey;
  height: 2px;
  width: 100%;
}
footer {
  padding: 0 5%;
}
footer .f-logo img{
  width: 250px;
}
footer .f-logo i{
  padding: 10px;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.4s ease;
  margin-right: 15px;
}
footer .f-logo i:hover {
  background-color: #ff281b;
  color: white;

}

@media (max-width: 420px) {
  #review div.rating-img img {
    width: 110px;
  }
}

@media (min-width: 768px) {
  .review .row .card img {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .review .row .card img {
    width: 70%;
  }
}
